.ingredient-picker {
    display: grid;
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid black
}

.list {
    border: 1px solid black;
}

.selected-ingredients {
    background-color: lime;
    color: tomato;
}